banka/WEB-INF/wsdl/Bank.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BankaService" targetNamespace="http://www.xml2017.com/banka" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tip="http://www.xml2017.com/banka" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tip="http://www.xml2017.com/banka" targetNamespace="http://www.xml2017.com/banka" version="1.0">
		
		<!-- <xs:element name="sayHello" type="tns:sayHello"/>
		<xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>
		
		<xs:complexType name="sayHello">
			<xs:sequence>
				<xs:element minOccurs="0" name="firstName" type="xs:string"/>
				<xs:element minOccurs="0" name="lastName" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
		
		<xs:complexType name="sayHelloResponse">
			<xs:sequence>
				<xs:element minOccurs="0" name="return" type="xs:string"/>
			</xs:sequence>
		</xs:complexType> -->
		
		<xs:element name="zahtev-za-izvod">
	        <xs:complexType>
	            <xs:all>
	                <xs:element name="broj-racuna" type="tip:TBrojRacunaBanke"/>
	                <xs:element form="qualified" name="datum" type="xs:date"/>
	                <xs:element name="redni-broj-preseka" type="tip:TRBrPreseka"/>
	            </xs:all>
	        </xs:complexType>
    	</xs:element>
    	
    	<xs:element name="izvod">
	        <xs:complexType>
	            <xs:sequence>
	                <xs:element name="zaglavlje">
	                    <xs:complexType>
	                        <xs:all>
	                            <xs:element name="broj-racuna" type="tip:TBrojRacunaBanke"/>
	                            <xs:element name="datum-naloga" type="xs:date"/>
	                            <xs:element name="broj-preseka" type="tip:TBrojPreseka"/>
	                            <xs:element name="prethodno-stanje" type="tip:TDecimal_15_2"/>
	                            <xs:element name="broj-promena-u-korist" type="tip:TNumber6"/>
	                            <xs:element name="ukupno-u-korist" type="tip:TDecimal_15_2"/>
	                            <xs:element name="broj-promena-na-teret" type="tip:TNumber6"/>
	                            <xs:element name="ukupno-na-teret" type="tip:TDecimal_15_2"/>
	                            <xs:element name="novo-stanje" type="tip:TDecimal_15_2"/>
	                        </xs:all>
	                    </xs:complexType>
	                </xs:element>
	                <xs:element name="presek">
	                    <xs:complexType>
	                        <xs:sequence>
	                            <xs:element name="stavka-preseka" maxOccurs="unbounded" minOccurs="0">
	                                <xs:complexType>
	                                    <xs:all>
	                                        <xs:element name="duznik-nalogodavac" type="tip:TString255"/>
	                                        <xs:element name="svrha-placanja" type="tip:TString255"/>
	                                        <xs:element name="primalac-poverilac" type="tip:TString255"/>
	                                        <xs:element name="datum-naloga" type="xs:date"/>
	                                        <xs:element name="podaci-o-prenosu">
	                                            <xs:complexType>
	                                                <xs:all>
	                                                  <xs:element name="iznos" type="tip:TDecimal_15_2"/>
	                                                  <xs:element name="datum-valute" type="xs:date"/>
	                                                  <xs:element name="duznik-prenos"
	                                                  type="tip:TOsobaPrenos"/>
	                                                  <xs:element name="poverilac-prenos"
	                                                  type="tip:TOsobaPrenos"/>
	                                                </xs:all>
	                                            </xs:complexType>
	                                        </xs:element>
	                                        <xs:element name="smer">
	                                            <xs:simpleType>
	                                                <xs:restriction base="xs:string">
	                                                  <xs:maxLength value="1"/>
	                                                </xs:restriction>
	                                            </xs:simpleType>
	                                        </xs:element>
	                                    </xs:all>
	                                </xs:complexType>
	                            </xs:element>
	                        </xs:sequence>
	                    </xs:complexType>
	                </xs:element>
	            </xs:sequence>
	        </xs:complexType>
	    </xs:element>
	    
	    <xs:element name="nalog-za-placanje">
	        <xs:complexType>
	            <xs:all>
	                <xs:element name="id-poruke" type="tip:TID"/>
	                <xs:element name="duznik-nalogodavac" type="tip:TString255"/>
	                <xs:element name="svrha-placanja" type="tip:TString255"/>
	                <xs:element name="primalac-poverilac" type="tip:TString255"/>
	                <xs:element name="datum-naloga" type="xs:date"/>
	                <xs:element name="podaci-o-prenosu">
	                    <xs:complexType>
	                        <xs:all>
	                            <xs:element name="oznaka-valute" type="tip:TSifraValute"/>
	                            <xs:element name="iznos" type="tip:TDecimal_15_2"/>
	                            <xs:element name="datum-valute" type="xs:date"/>
	                            <xs:element name="duznik-prenos" type="tip:TOsobaPrenos"/>
	                            <xs:element name="poverilac-prenos" type="tip:TOsobaPrenos"/>
	                        </xs:all>
	                    </xs:complexType>
	                </xs:element>
	            </xs:all>
	            <xs:attribute default="false" name="hitno" type="xs:boolean" use="optional"/>
	        </xs:complexType>
	    </xs:element>
	    
	    <xs:element name="odgovor-na-placanje" type="xs:boolean"/>
	    
	    <!-- <xs:element name="mt102">
	        <xs:complexType>
	            <xs:sequence>
	                <xs:element name="IDPoruke" type="tip:TID"/>
	                <xs:element name="BankaDuznika" type="tip:TBanka"/>
	                <xs:element name="BankaPoverioca" type="tip:TBanka"/>
	                <xs:element name="UkupanIznos" type="tip:TDecimal_15_2"/>
	                <xs:element name="SifraValute" type="tip:TSifraValute"/>
	                <xs:element name="DatumValute" type="xs:date"/>
	                <xs:element name="Datum" type="xs:date"/>
	                <xs:element name="PojedinacnaPlacanja">
	                    <xs:complexType>
	                        <xs:sequence maxOccurs="unbounded" minOccurs="0">
	                            <xs:element name="PojedinacnoPlacanje" type="tip:TPojedinacnoPlacanje"/>
	                        </xs:sequence>
	                    </xs:complexType>
	                </xs:element>
	            </xs:sequence>
	        </xs:complexType>
	    </xs:element>
	    
	    <xs:element name="mt103">
	        <xs:complexType>
	            <xs:sequence>
	                <xs:element name="id_poruke" type="tip:TID"/>
	                <xs:element name="banke">
	                    <xs:complexType>
	                        <xs:sequence>
	                            <xs:element name="banka_duznika" type="tip:TBanka"></xs:element>
	                            <xs:element name="banka_poverioca" type="tip:TBanka"></xs:element>
	                        </xs:sequence>
	                    </xs:complexType>
	                </xs:element>
	                <xs:element name="uplata" type="tip:TUplata"/>
	            </xs:sequence>
	        </xs:complexType>
	    </xs:element>
	    
	    <xs:element name="mt910">
	        <xs:complexType>
	            <xs:sequence>
	                <xs:element name="id_poruke" type="tip:TID"/>
	                <xs:element name="banka_poverilac" type="tip:TBanka"/>
	                <xs:element name="id_poruke_naloga" type="tip:TID"/>
	                <xs:element name="datum_valute" type="xs:date"/>
	                <xs:element name="iznos" type="tip:TDecimal_15_2"/>
	                <xs:element name="sifra_valute" type="tip:TSifraValute"/>
	            </xs:sequence>
	        </xs:complexType>
	    </xs:element> -->
	    
	    
	    
	    <xs:element name="mt103mt910" type="tip:Tmt103mt910"></xs:element>
	    <xs:element name="mt102mt910" type="tip:Tmt102mt910"></xs:element>
	    
	    <xs:simpleType name="TID">
	        <xs:restriction base="xs:string">
	            <xs:minLength value="1"/>
	            <xs:maxLength value="50"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TSWIFT">
	        <xs:restriction base="xs:string">
	            <xs:pattern value="[A-Z]{6}[A-Z0-9]{2}(X{3}|[A-Z0-9]{3})?"/>
	            <xs:minLength value="8"/>
	            <xs:maxLength value="11"/>
	        </xs:restriction>    
	    </xs:simpleType>
	    
	    <xs:simpleType name="TBrojRacunaBanke">
	        <xs:restriction base="xs:string">
	            <xs:pattern value="\d{3}-\d{13}-\d{2}"></xs:pattern>    <!-- da li podržavamo bilo koji decimal digit ili samo standardne arapske? -->
	            <xs:length value="20"></xs:length>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TDecimal_5_2">
	        <xs:restriction base="xs:decimal">
	            <xs:totalDigits value="7"/>
	            <xs:fractionDigits value="2"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TDecimal_10_2">
	        <xs:restriction base="xs:decimal">
	            <xs:totalDigits value="12"/>
	            <xs:fractionDigits value="2"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TDecimal_12_2">
	        <xs:restriction base="xs:decimal">
	            <xs:totalDigits value="14"/>
	            <xs:fractionDigits value="2"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TDecimal_15_2">
	        <xs:restriction base="xs:decimal">
	            <xs:totalDigits value="17"/>
	            <xs:fractionDigits value="2"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TSifraValute">
	        <xs:restriction base="xs:string">
	            <xs:pattern value="[A-Z]{3}"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TString6">
	        <xs:restriction base="xs:string">
	            <xs:minLength value="1"/>
	            <xs:maxLength value="6"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TString55">
	        <xs:restriction base="xs:string">
	            <xs:minLength value="1"/>
	            <xs:maxLength value="55"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TString120">
	        <xs:restriction base="xs:string">
	            <xs:minLength value="1"/>
	            <xs:maxLength value="120"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TString255">
	        <xs:restriction base="xs:string">
	            <xs:minLength value="1"/>
	            <xs:maxLength value="255"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TModel">
	        <xs:restriction base="xs:unsignedInt">
	            <xs:minInclusive value="10"/>
	            <xs:maxInclusive value="99"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TRBrPreseka">
	        <xs:restriction base="xs:unsignedInt">
	            <xs:totalDigits value="2"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TBrojPreseka">
	        <xs:restriction base="xs:unsignedInt">
	            <xs:minInclusive value="0"/>
	            <xs:maxInclusive value="99"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TNumber6">
	        <xs:restriction base="xs:int">
	            <xs:minInclusive value="0"/>
	            <xs:maxInclusive value="999999"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TPIB">
	        <xs:restriction base="xs:string">
	            <xs:minLength value="11"/>
	            <xs:maxLength value="11"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TPozivNaBroj">
	        <xs:restriction base="xs:string">
	            <xs:length value="20"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TFaktura_broj_racuna">
	        <xs:restriction base="xs:unsignedInt">
	            <xs:totalDigits value="6"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <xs:simpleType name="TFaktura_redni_broj">
	        <xs:restriction base="xs:unsignedShort">
	            <xs:minInclusive value="1"/>
	            <xs:maxInclusive value="999"/>
	        </xs:restriction>
	    </xs:simpleType>
	    
	    <!-- KOMPLEKSNI TIPOVI -->
	    <xs:complexType name="TBanka">
	        <xs:sequence>
	            <xs:element name="SWIFT" type="tip:TSWIFT"></xs:element>
	            <xs:element name="BankAccountNumber" type="tip:TBrojRacunaBanke"></xs:element>
	        </xs:sequence>
	        <xs:attribute name="id" type="xs:string"></xs:attribute>
	    </xs:complexType>
	    
	    <xs:complexType name="TPojedinacnoPlacanje">
	        <xs:sequence>
	            <xs:element name="IDNalogaZaPlacanje" type="tip:TID"/>
	            <xs:element name="Duznik-Nalogodavac" type="tip:TString255"/>
	            <xs:element name="SvrhaPlacanja" type="tip:TString255"/>
	            <xs:element name="Primalac-Poverilac" type="tip:TString255"/>
	            <xs:element name="DatumNaloga" type="xs:date"/>
	            <xs:element name="RacunDuznika" type="tip:TBrojRacunaBanke"/>
	            <xs:element name="ModelZaduzenja" type="tip:TModel"/>
	            <xs:element name="PozivNaBrojZaduzenja" type="tip:TPozivNaBroj"/>
	            <xs:element name="RacunPoverioca" type="tip:TBrojRacunaBanke"/>
	            <xs:element name="ModelOdobrenja" type="tip:TModel"/>
	            <xs:element name="PozivNaBrojOdobrenja" type="tip:TPozivNaBroj"/>
	            <xs:element name="Iznos" type="tip:TDecimal_15_2"/>
	            <xs:element name="SifraValute" type="tip:TSifraValute"/>
	        </xs:sequence>
	    </xs:complexType>
	    
	    <xs:complexType name="TPlacanje">
	        <xs:sequence>
	            <xs:element name="racun" type="tip:TBrojRacunaBanke"></xs:element>
	            <xs:element name="model" type="tip:TModel"/>
	            <xs:element name="poziv_na_broj" type="tip:TPozivNaBroj"/>
	        </xs:sequence>
	    </xs:complexType>
	    
	    <xs:complexType name="TUplata">
	        <xs:sequence>
	            <xs:element name="duznik_nalogodavac" type="tip:TString255"/>
	            <xs:element name="svrha_placanja" type="tip:TString255"/>
	            <xs:element name="primalac_poverilac" type="tip:TString255"/>
	            <xs:element name="datum_naloga" type="xs:date"/>
	            <xs:element name="datum_valute" type="xs:date"/>
	            <xs:element name="duznik_zaduzenje" type="tip:TPlacanje"/>
	            <xs:element name="poverilac_odobrenje" type="tip:TPlacanje"/>
	            <xs:element name="iznos" type="tip:TDecimal_15_2"/>
	            <xs:element name="sifra_valute" type="tip:TSifraValute"/>
	        </xs:sequence>
	    </xs:complexType>
	    
	    <xs:complexType name="T_faktura_stavka">
	        <xs:sequence>
	            <xs:element name="redni_broj" type="tip:TFaktura_redni_broj"/>
	            <xs:element name="naziv_robe_ili_usluge" type="tip:TString120"/>
	            <xs:element name="kolicina" type="tip:TDecimal_10_2"/>
	            <xs:element name="jedinica_mere" type="tip:TString6"/>
	            <xs:element name="jedinicna_cena" type="tip:TDecimal_10_2"/>
	            <xs:element name="vrednost" type="tip:TDecimal_12_2"/>
	            <xs:element name="procenat_rabata" type="tip:TDecimal_5_2"/>
	            <xs:element name="iznos_rabata" type="tip:TDecimal_12_2"/>
	            <xs:element name="umanjeno_za_rabat" type="tip:TDecimal_12_2"/>
	            <xs:element name="ukupan_porez" type="tip:TDecimal_12_2"/>
	        </xs:sequence>
	    </xs:complexType>
	    
	    
	    <xs:complexType abstract="false" name="TOsobaPrenos">
	        <xs:all>
	            <xs:element name="broj-racuna" default="000-0000000000000-00" type="tip:TBrojRacunaBanke"/>
	            <xs:element name="model" type="tip:TModel"/>
	            <xs:element name="poziv-na-broj" type="tip:TPozivNaBroj"/>
	        </xs:all>
	    </xs:complexType>
	    
	    	<xs:complexType name="Tmt910">
	            <xs:sequence>
	                <xs:element name="id_poruke" type="tip:TID"/>
	                <xs:element name="banka_poverilac" type="tip:TBanka"/>
	                <xs:element name="id_poruke_naloga" type="tip:TID"/>
	                <xs:element name="datum_valute" type="xs:date"/>
	                <xs:element name="iznos" type="tip:TDecimal_15_2"/>
	                <xs:element name="sifra_valute" type="tip:TSifraValute"/>
	            </xs:sequence>
	        </xs:complexType>
			
			<xs:complexType name="Tmt103">
	            <xs:sequence>
	                <xs:element name="id_poruke" type="tip:TID"/>
	                <xs:element name="banke">
	                    <xs:complexType>
	                        <xs:sequence>
	                            <xs:element name="banka_duznika" type="tip:TBanka"></xs:element>
	                            <xs:element name="banka_poverioca" type="tip:TBanka"></xs:element>
	                        </xs:sequence>
	                    </xs:complexType>
	                </xs:element>
	                <xs:element name="uplata" type="tip:TUplata"/>
	            </xs:sequence>
	        </xs:complexType>
	        
	        <xs:complexType name="Tmt102">
	            <xs:sequence>
	                <xs:element name="IDPoruke" type="tip:TID"/>
	                <xs:element name="BankaDuznika" type="tip:TBanka"/>
	                <xs:element name="BankaPoverioca" type="tip:TBanka"/>
	                <xs:element name="UkupanIznos" type="tip:TDecimal_15_2"/>
	                <xs:element name="SifraValute" type="tip:TSifraValute"/>
	                <xs:element name="DatumValute" type="xs:date"/>
	                <xs:element name="Datum" type="xs:date"/>
	                <xs:element name="PojedinacnaPlacanja">
	                    <xs:complexType>
	                        <xs:sequence maxOccurs="unbounded" minOccurs="0">
	                            <xs:element name="PojedinacnoPlacanje" type="tip:TPojedinacnoPlacanje"/>
	                        </xs:sequence>
	                    </xs:complexType>
	                </xs:element>
	            </xs:sequence>
	        </xs:complexType>
	        
	        <xs:complexType name="Tmt102mt910">
	        	<xs:sequence>
	        		<xs:element name="mt102" type="tip:Tmt102"/>
	        		<xs:element name="mt910" type="tip:Tmt910"/>
	        	</xs:sequence>
	        </xs:complexType>
	        
	        <xs:complexType name="Tmt103mt910">
	        	<xs:sequence>
	        		<xs:element name="mt103" type="tip:Tmt103"/>
	        		<xs:element name="mt910" type="tip:Tmt910"/>
	        	</xs:sequence>
	        </xs:complexType>
	        
	</xs:schema>
  </wsdl:types>
  
  <wsdl:message name="nalogZaPlacanjeResponse">
    <wsdl:part name="odgovor" element="tip:odgovor-na-placanje">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="nalogZaPlacanjeRequest">
    <wsdl:part name="nalog" element="tip:nalog-za-placanje">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="preuzimanjeIzvodaRequest">
    <wsdl:part name="zahtev" element="tip:zahtev-za-izvod">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="preuzimanjeIzvodaResponse">
    <wsdl:part name="izvod" element="tip:izvod">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="rtgsBankaRequest">
    <wsdl:part name="mt103mt109" element="tip:mt103mt910">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="clearSettleBankaRequest">
    <wsdl:part name="mt102mt109" element="tip:mt102mt910">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="BankaPortType">
  
    <wsdl:operation name="slanjeNalogaZaPlacanje">
      <wsdl:input name="nalogZaPlacanjeRequest" message="tip:nalogZaPlacanjeRequest">
      </wsdl:input>
      <wsdl:output name="nalogZaPlacanjeResponse" message="tip:nalogZaPlacanjeResponse">
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="preuzimanjeIzvoda">
      <wsdl:input name="preuzimanjeIzvodaRequest" message="tip:preuzimanjeIzvodaRequest">
      </wsdl:input>
      <wsdl:output name="preuzimanjeIzvodaResponse" message="tip:preuzimanjeIzvodaResponse">
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="rtgsBanka">
      <wsdl:input name="rtgsBankaRequest" message="tip:rtgsBankaRequest">
      </wsdl:input>
    </wsdl:operation>
    
    <wsdl:operation name="clearSettleBanka">
      <wsdl:input name="clearSettleBankaRequest" message="tip:clearSettleBankaRequest">
      </wsdl:input>
    </wsdl:operation>
    
  </wsdl:portType>
  
  <wsdl:binding name="BankaServiceSoapBinding" type="tip:BankaPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <!-- <wsdl:operation name="sayHello">
      	<soap:operation soapAction="" style="document"/>
      	<wsdl:input name="sayHello">
        	<soap:body use="literal"/>
      	</wsdl:input>
      	<wsdl:output name="sayHelloResponse">
        	<soap:body use="literal"/>
      	</wsdl:output>
    </wsdl:operation> -->
    
    <wsdl:operation name="slanjeNalogaZaPlacanje">
    	<soap:operation soapAction="" style="document" />
    	<wsdl:input name="nalogZaPlacanjeRequest">
    		<soap:body use="literal"/>
    	</wsdl:input>
    	<wsdl:output name="nalogZaPlacanjeResponse">
    		<soap:body use="literal"/>
      	</wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="preuzimanjeIzvoda">
    	<soap:operation soapAction="" style="document" />
    	<wsdl:input name="preuzimanjeIzvodaRequest">
    		<soap:body use="literal"/>
    	</wsdl:input>
    	<wsdl:output name="preuzimanjeIzvodaResponse">
    		<soap:body use="literal"/>
      	</wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="rtgsBanka">
    	<soap:operation soapAction="" style="document" />
    	<wsdl:input name="rtgsBankaRequest">
    		<soap:body use="literal"/>
    	</wsdl:input>
    </wsdl:operation>
    
    <wsdl:operation name="clearSettleBanka">
    	<soap:operation soapAction="" style="document" />
    	<wsdl:input name="clearSettleBankaRequest">
    		<soap:body use="literal"/>
    	</wsdl:input>
    </wsdl:operation>
    
  </wsdl:binding>
  
  <wsdl:service name="BankaService">
    <wsdl:port name="BankaPort" binding="tip:BankaServiceSoapBinding">
      <soap:address location="http://localhost:8080/BankaPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
